<!DOCTYPE html>
<html>

<%= stylesheet_link_tag "application", "home"%>

<header>
  <div class="bg-image"></div>

  <div class="bg-text">
    <h2 class="title">BiałystokRoutes</h2>
    <p class="title2">z nami szybko zaplanujesz wycieczkę po Białymstoku</p>
  </div>
</header>

<body>
  <br>
  <p>
    Zaloguj się i wybierz atrakcje, a my utworzymy trasę zwiedzania. Dodatkowo możesz wybrać naszego,
    który opowie Ci o wszystkich atrakcjach.
  </p>

  <p>Znajdujemy się tutaj:</p>

  <div id="map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7vOoTEHKZlV89hsFiNdshzf74UMM_dnk&callback=initMap&libraries=&v=weekly"
          async></script>

  <script type="text/javascript">
      function initMap() {
          // Location
          const company = { lat: 53.11860147357647, lng: 23.151445886937758 };
          // Map centering
          const map = new google.maps.Map(document.getElementById("map"), {
              zoom: 16,
              center: company,
              gestureHandling: "none",
          });
          // Marker
          var marker = new google.maps.Marker({
              position: company,
              map: map,
              title: "Siedziba główna BiałystokRoutes!"
          });
      }
  </script>

</body>
<br>
</html>