<% @tours.each do |tour|%>
  <% tour.attractions.each do |attraction| %>
  <%= attraction.name %>
        <% if attraction.price %>
            <strong>Opłata:</strong>
            <%= attraction.price %>
          <%else %>
            <strong>Obiekt bezpłatny</strong>
          <%end %>
        <%= attraction.sightseeing_time %>
       <% attraction.categories.each do |category| %>
            <%= category.name %>
            <% end %>
  <%end%>
<%end%>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ciąg atrakcji</th>
      <th scope="col">Łączna opłata atrakcji</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>