<p id="notice"><%= notice %></p>

<h1>Zapłać mniej za bilety!</h1>
<p>
  W związku ze współpracą z firmami turystycznymi oferujemy naszym klientom zniżki,
  dzięki którym jeszcze mniej można zapłacić za bilety! Poniżej znajdują się lista zniżek:
</p>
<table>
  <thead>
    <tr>
      <th>Nazwa zniżki</th>
      <th>Procent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.name %></td>
        <td><%= discount.percent %> % </td>
<!--        <td><%#= link_to 'Show', discount %></td>-->
<!--        <td><%#= link_to 'Edit', edit_discount_path(discount) %></td>-->
<!--        <td><%#= link_to 'Destroy', discount, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Discount', new_discount_path %>
<%= link_to 'Powrót do strony głównej', root_path %>
