<!DOCTYPE html>
<html>

<%= stylesheet_link_tag "app", "discounts"%>

<p id="notice"><%= notice %></p>

<h1 class="header">Zapłać mniej za bilety</h1>
<p>
  Dzięki współpracy z firmami turystycznymi oferujemy naszym klientom następujące zniżki,
  pozwalające zaoszczędzić na biletach:
</p>
<br>

<body>
  <% @discounts.each do |discount| %>
    <div class="list-item">
      <div class="list-left"><%= discount.name %></div>
      <div class="list-right"><%= discount.percent %>%</div>
    </div>
    <br>
  <%end %>
</body>

</html>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Nazwa zniżki</th>-->
<!--      <th>Procent</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
    <%# @discounts.each do |discount| %>
<!--      <tr>-->
<!--        <td><%#= discount.name %></td>-->
<!--        <td><%#= discount.percent %> % </td>-->
<!--        <td><%#= link_to 'Show', discount %></td>-->
<!--        <td><%#= link_to 'Edit', edit_discount_path(discount) %></td>-->
<!--        <td><%#= link_to 'Destroy', discount, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<%#= link_to 'New Discount', new_discount_path %>
<%#= link_to 'Powrót do strony głównej', root_path %>

