
body {
//background: url("https://lesilets.com/wp-content/uploads/2018/04/1096907-cool-dark-background-2560x1600-for-tablet.jpg") no-repeat center center fixed;
//-webkit-background-size: cover;
//-moz-background-size: cover;
//-o-background-size: cover;
//background-size: cover;
}

.header {
    padding: 10px;
    text-align: center;
    vertical-align: top;
    color: #4CAF50;
    font-size: 48px;
    font-family: Arial;
}

#map{
    margin: auto;
    object-fit: contain;
    width: 75%;
    height: 500px;
}

body {
//text-align: center;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.list-item {
    background-color: #4CAF50;
    color: white;
//cursor: pointer;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    width: 75%;
    border: none;
    outline: none;
    font-size: 20px;
    margin: auto;
    height: 60px;
    vertical-align: center;
}

.list-item:hover {
    background-color: #4CAF00;
}

.list-left{
    float: left;
}

.list-right{
    float: right;
}

p{
    text-align: center;
}

.hyperlink{

}