// Place all the styles related to the Attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
  min-height: 300px;
  grid-gap: 10px;
}

h4 {
  vertical-align: top;
  padding: 10px;
  //align-items: start;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.title{
  vertical-align: top;
}

.title:hover{
  color: #4CAF00;
}

.item {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap-reverse;
  min-height: 100%;
  height: 350px;
  max_width: 100%;

  justify-content: space-between;

  background-image: url(Bstok.jpg);
  background-position: center;
}

.item:hover {
  z-index: 999;
  background-color: rgba(0,0,0,0.3);
}

.item-details{
  text-align: center;
  //vertical-align: 300px;
  color: white;
}

.hyperlink {
  text-decoration: none;
}

.hyperlink:hover{
  //color: #4CAF00;
}

h4:hover {
  //color: #4CAF00;
}

p {
  vertical-align: text-bottom;
  //padding: 10px;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 350px;
}

.item .hidden-child{
  z-index: 20;
  visibility: hidden;
  color: white;
}

.item:hover .hidden-child{
  visibility: visible;
  background-color: rgba(0,0,0,0.5);
}

.hidden-child{
  vertical-align: center;
}

text{
  text-align: justify;
}